html {
  font-size: 15px;
}
body {
  background-color: #2749A1;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}
h1 {
  margin: 5px 10px;
  font-weight: bold;
  font-size: 1.2em;
}
p {
  margin: 0;
}
.book-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
  max-width: 460px;
  height: 290px;
  padding: 1rem;
  margin: 0.3rem;
  background-color: #fff;
  text-align: center;
  transition: outline 0.2s ease-in-out;
}
.book-item:hover {
  outline: 4px solid #E56025;
}
.book-item a {
  width: 100px;
  margin: 0 auto;
}
.book-authors {
  display: block;
  font-size: 1.2em;
  line-height: 1.2em;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3.3rem;
  border: 3px solid #E56025;
  background-color: #E56025;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 3.4rem;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.1s linear, color 0.1s linear;
  box-shadow: 0 0.3rem 1rem 1px rgba(0, 0, 0, 0.5);
}
.btn:hover {
  background-color: #fff;
  color: #000;
}
.btn--white {
  background-color: #fff;
  color: #000;
}
.btn--white:hover {
  background-color: #E56025;
  color: #fff;
}
.btn--intro {
  margin: 5.2rem auto 0;
  padding: 1.6rem 3rem;
  font-size: 1.6rem;
  line-height: 0.8;
}
@media (max-width: 790px) {
  .btn {
    font-size: 1rem;
  }
  .btn--intro {
    font-size: 1.3rem;
    line-height: 1.2;
    padding: 1.3rem 1rem;
  }
}
@media (max-width: 600px) {
  .btn--intro {
    margin-top: 3rem;
    padding: 1rem;
  }
}
@media (max-width: 420px) {
  .btn--intro {
    font-size: 1rem;
    padding: 0.7rem 0.9rem;
  }
}
@media (max-width: 790px) {
  .book-desc {
    margin-bottom: 1rem;
  }
}
@media (max-width: 600px) {
  .book-item {
    min-width: 250px;
  }
}
